Title: => $"{Constants.SiteTitle}"
HideSidebar: true
---
<div class="jumbotron jumbotron-fluid hero">
    <div class="container-fluid">
        <h2 class="display-4 text-center">Welcome!</h2>
        <p class="lead text-center">James T. Maher</p>
        <hr class="my-4">
        <div class="text-center">
			<p>Home Page</p>
			<a class="btn btn-primary btn-lg" href="/@Constants.BlogPath/" role="button">Go to Blog</a>
        </div>
    </div>
</div>