Title: About James T. Maher
---
<img src="assets/img/me.jpg" />
<p>
    I am James T. Maher, a software developer who lives in the Illinois and Wisconsin, USA. I have a bachelor's degree in Computer Science from <a href="https://www.northcentralcollege.edu">North Central College</a> in Naperville, IL. I currently work for <a href="https://www.createasoft.com">CreateASoft, Inc.</a> in Aurora, IL. I like anything related to mobile, desktop or web app development on the Microsoft stack, such as C#, VB.NET, .NET Framework, .NET Core, UWP, Xamarin, ASP.NET MVC, SQL Server, IIS, DNN and Statiq.Web. When I am not coding, I like to do physically active things like running, playing tennis and hiking. I also like playing music, specifically classical piano.<br/>
    <h3>Contact:</h3>
    <a href="mailto:jtmaher2@gmail.com">Email</a><br/>
    <a href="https://twitter.com/jtmaher2">Twitter</a><br/>
    <a href="https://www.linkedin.com/in/james-maher-05a415b6">LinkedIn</a><br/>
    <a href="https://www.github.com/JTMaher2">GitHub</a>
</p>
