Title: About James T. Maher
---
<img src="assets/img/me.jpg" />
<p>
    I am James T. Maher, a web designer, software developer and technical writer who lives in Illinois and Wisconsin, USA. I have a bachelor's degree in computer science from <a href="https://www.northcentralcollege.edu">North Central College</a> in Naperville, Illinois. I currently work for <a href="https://www.createasoft.com">CreateASoft, Inc.</a> in Aurora, Illinois.<br/>
    <h3>Contact:</h3>
    <a href="mailto:jtmaher2@gmail.com">Email</a><br/>
    <a href="https://twitter.com/jtmaher2">Twitter</a><br/>
    <a href="https://www.linkedin.com/in/james-maher-05a415b6">LinkedIn</a><br/>
    <a href="https://www.github.com/JTMaher2">GitHub</a>
</p>
